<h4>Asistencia a eventos científicos</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Año de asistencia</th>
        <th scope="col">Nombre encargado (Orígen)</th>
        <th scope="col">Nombre encargado (Destino)</th>
        <th scope="col">País</th>
        <th scope="col">Recursos asignados para asistencia a evento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23-05-22 - 23-12-23</td>
        <td>Ricardo Soto</td>
        <td>José Fuenzalida</td>
        <td>España (Andorra)</td>
        <td>$ 2.132.456</td>
      </tr>
      <tr>
        <td>23-05-22 - 23-12-23</td>
        <td>Sandra Cano</td>
        <td>John Dwight</td>
        <td>E.E.U.U (Phoenix)</td>
        <td>$ 2.546.213</td>
      </tr>
      <tr>
        <td>23-05-22 - 23-12-23</td>
        <td>Wenceslao Palma</td>
        <td>Paulie Gualtieri</td>
        <td>Italia (Roma)</td>
        <td>$ 1.534.683</td>
      </tr>
    </tbody>
</table>
<div class="grid-container">
    <img src="../../../../assets/images/perfil/eventos/1.png">
    <img src="../../../../assets/images/perfil/eventos/2.png">  
</div>  
<router-outlet></router-outlet>
