<h4>Reporte de publicaciones del alumno(a)</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Año cohorte de ingreso</th>
        <th scope="col">Nombre profesor Guía o tutor</th>
        <th scope="col">Co-Guía o tema de tesis</th>
        <th scope="col">Nivel de estado de la tesis</th>
        <th scope="col">N° de publicaciones de los tesistas</th>
        <th scope="col">Proyectos Fondecyt u otro asociado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23-05-22 - 23-12-23</td>
        <td>Ricardo Soto</td>
        <td>-</td>
        <td>Final</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>23-05-22 - 23-12-23</td>
        <td>Sandra Cano</td>
        <td>-</td>
        <td>Final</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>23-05-22 - 23-12-23</td>
        <td>Wenceslao Palma</td>
        <td>-</td>
        <td>Final</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
</table>
<router-outlet></router-outlet>