<div class="grid-container">
        <div class="canvas-container">
                <h3>Recursos Asignados a Becas:</h3>
                <canvas #becasCanvas width="400" height="200"></canvas>
        </div>
        <div class="canvas-container">
                <h3>Recursos Asignados a Pasantías:</h3>
                <canvas #pasantiasCanvas width="400" height="200"></canvas>
        </div>
        <div class="canvas-container">
                <h3>Recursos Asignados a Eventos:</h3>
                <canvas #eventosCanvas width="400" height="200"></canvas>
        </div>
</div>