<h4>Información General</h4>
<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha ingreso al programa</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Pregrado (Licenciatura, título)</th>
          <th scope="col">Institución procedencia (Pregrado)</th>
          <th scope="col">Postgrado (Magister, doctorado)</th>
          <th scope="col">Institución procedencia (Postgrado)</th>
          <th scope="col">Estado de avance (Semestre)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Camila Andrea Bascur Barrera</td>
          <td>2020-1 (Semestre)</td>
          <td>Chileno</td>
          <td>Ingeniería Ejecución Informática</td>
          <td>PUCV</td>
          <td>-</td>
          <td>-</td>
          <td>4/8</td>
        </tr>
      </tbody>
  </table>
</div>
  <div class="grid-container">
      <img src="../../../../assets/images/perfil/perfil/Captura de pantalla 2023-10-28 174346.png">
      <img src="../../../../assets/images/perfil/perfil/Captura de pantalla 2023-10-28 174507.png">  
  </div> 
<router-outlet></router-outlet>