<h4>Asistencia a eventos científicos</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Año de asistencia</th>
        <th scope="col">Nombre encargado (Orígen)</th>
        <th scope="col">Nombre encargado (Destino)</th>
        <th scope="col">País</th>
        <th scope="col">Recursos asignados para asistencia a evento</th>
        <th scope="col">Institución beneficiaria</th>
      </tr>
    </thead>
    <tbody *ngFor="let evento of eventos">
      <tr>
        <td>{{evento.anioAsignacion}}</td>
        <td>{{evento.profOrigen}}</td>
        <td>{{evento.profDestino}}</td>
        <td>{{evento.paisDestino}}</td>
        <td>{{evento.recursosAsignados}}</td>
        <td>{{evento.nombreBeneficio}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><strong>Total</strong></td>
        <td>${{formatearNumero(totalRecursos) }}</td>
        <td></td>
      </tr>
    </tfoot>
</table>
<div class="grid-container">
    <img src="../../../../assets/images/perfil/eventos/1.png">
    <img src="../../../../assets/images/perfil/eventos/2.png">  
</div>  
<router-outlet></router-outlet>
