* {
    margin-left: 5px;
}

.container-fluid {
    margin-bottom: 20px;
    display: flex;
    align-items:center;
    flex-direction:row;
    width: 100%;
}

.btn-primary {
    margin-left: 30px;
    margin-top: 5px;
}
/*
div.progress-bar {
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    float: right;
}
*/

.card {
    position:sticky;
    width:auto;
}

span {
    color: rgb(133, 9, 9);
    font-style: italic;
}

.progress {
    position:relative;
    height: auto; /* Ajusta la altura según el contenido */
    width: auto; /* Ancho total */
    background-color: rgb(156, 156, 156); /* Color de fondo de la barra */
    border: 2px solid black;
}

.progress-bar-inner {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    //background-color: green; /* Color de relleno predeterminado */
}

p {
    color: whitesmoke;
    text-align: center;
    margin-right: 10px;
}

.card-text {
    color: black;
}

h5 {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container-fluid {
      flex-direction: column; /* Coloca los elementos en columna */
    }
  
   .card,.progress {
      width: 100%; /* O cualquier otro ancho deseado */
      margin-bottom: 10px; /* Agrega espaciado entre elementos */
    }

    p,h6 {
        font-size:x-small;
    }
}