<div>
  <a class="btn btn-primary" routerLink="/resumen" routerLinkActive="active" role="button">Volver</a>
  <div class="container-fluid">
    <div class="card d-flex ">
      <div *ngIf="alumno" class="card-body d-flex">
        <img [src]="'../../../assets/images/perfil/' + alumno.id+'.jpg'" alt="Imagen de retrato" class="mr-3" style="width: 100px;">
        <div>
          <h5 class="card-title">{{alumno.nombre}}</h5>
          <p class="card-text">{{alumno.rut}}</p>
          <p class="card-text">{{alumno.pregrado}}</p>
          <p class="card-text"><small class="text-body-secondary">Fecha de ingreso a programa: {{alumno.fechaIngreso}}</small></p>
        </div>
      </div>
    </div>
    
      <h4>Estado de Avance del Alumno:</h4>
      <div class="progress">
        <div
          class="progress-bar-inner"
          role="progressbar"
          [style.width.%]="calcularProgreso(alumno)"
          [style.backgroundColor]="calcularColor(alumno).barra"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100">
          <h6>Avance curricular:</h6>
          <p [style.color]="calcularColor(alumno).texto">{{ alumno.semestre }}
            <span *ngIf="esProgramaExtendido(alumno)">EXTENDIDO</span>
          </p>
          <h6>Estado: </h6><p [style.color]="calcularColor(alumno).texto"> {{ alumno.estadoAvance }}</p>
          <h6> Examen de Candidatura: </h6>
          <p [style.color]="calcularColor(alumno).texto"> {{ alumno.examenCand }}</p>
          <h6>Examen de Grado: </h6>
          <p [style.color]="calcularColor(alumno).texto">{{ alumno.examenGrado }}</p>
        </div>
      </div>
  </div>
  <div class="container-fluid">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['perfilA']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['publicaciones']">Publicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pasantias']">Pasantías</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['becas']">Becas</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['eventos']">Eventos</a>
      </li>
    </ul>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

