<div>
  <a class="btn btn-primary" routerLink="/resumen" routerLinkActive="active" role="button">Volver</a>
  <div class="container-fluid">
    <div class="card d-flex ">
      <div *ngIf="alumno" class="card-body d-flex">
        <img [src]="'../../../assets/images/perfil/' + alumno.id+'.jpg'" alt="Imagen de retrato" class="mr-3" style="width: 100px;">
        <div>
          <h5 class="card-title">{{alumno.nombre}}</h5>
          <p class="card-text">{{alumno.rut}}</p>
          <p class="card-text">{{alumno.pregrado}}</p>
          <p class="card-text"><small class="text-body-secondary">Fecha de ingreso a programa: {{alumno.fechaIngreso}}</small></p>
        </div>
      </div>
    </div>
      <!--<h5>Estado de avance del alumno</h5>
      <div class="card-body">
        <h5 class="card-title">Estado de avance del alumno</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="porcentajeAvance + '%'">
            {{porcentajeAvance}}%
          </div>
        </div>
        <p>Avance curricular: {{avanceCurricular}}</p>
        <p>Semestre: {{semestre}}</p>
        <p>Estado: {{estado}}</p>
        <p>Hitos:</p>
        <ul>
          <li>Examen de candidatura: {{examenCandidatura}}</li>
          <li>Examen de grado: {{examenGrado}}</li>
        </ul>
      </div>-->
  </div>
  <div class="container-fluid">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['perfilA']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['publicaciones']">Publicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pasantias']">Pasantías</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['becas']">Becas</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['eventos']">Eventos</a>
      </li>
    </ul>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<!--<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="ruta-de-la-imagen" alt="Imagen de retrato" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nombre del Alumno</h5>
        <p class="card-text">Información general sobre el alumno.</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Estado de avance del alumno</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="porcentajeAvance + '%'">
            {{porcentajeAvance}}%
          </div>
        </div>
        <p>Avance curricular: {{avanceCurricular}}</p>
        <p>Semestre: {{semestre}}</p>
        <p>Estado: {{estado}}</p>
        <p>Hitos:</p>
        <ul>
          <li>Examen de candidatura: {{examenCandidatura}}</li>
          <li>Examen de grado: {{examenGrado}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>-->