* {
    margin-left: 5px;
}

.container-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items:center;
    flex-direction:row;
    width: 100%;
}

.btn-primary {
    margin-left: 30px;
    margin-top: 5px;
}
/*
div.progress-bar {
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    float: right;
}
*/

.card {
    position:relative;
    width:auto;
    margin-right: 30px;
}

span {
    color: rgb(133, 9, 9);
}

.progress {
    margin-top: 20px;
    position:relative;
    height: auto; /* Ajusta la altura según el contenido */
    width: auto; /* Ancho total */
    background-color: rgb(156, 156, 156); /* Color de fondo de la barra */
    border: 2px solid black;
}

.progress-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px; /* Añade márgenes internos alrededor de los elementos */
}

p {
    color: whitesmoke;
    text-align: center;
    margin-right: 5px;
    flex:1;
    margin-right: 20px;;
    white-space: nowrap;

}

h4 {
    position:absolute;
    top: 190px;
    left: 40%;
    width: 30%;
    text-align: center;
    margin: 1 auto;
    margin-bottom: 10px;
}

h6 {
    flex: 1; /* Ocuparán el espacio disponible */
    margin: 0; /* Elimina márgenes para un mejor ajuste */
    text-align: center; /* Centra el texto */
    white-space: nowrap; /* Evita el salto de línea en caso de texto largo */
}


.card-text {
    color: black;
}

h5 {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container-fluid {
      flex-direction: column; /* Coloca los elementos en columna */
    }
  
   .card,.progress,.progress-bar-inner {
      width: 100%; /* O cualquier otro ancho deseado */
      margin-bottom: 10px; /* Agrega espaciado entre elementos */
      flex-wrap:wrap;
    }

    h4 {
        position: static;
        margin-bottom: 10px;
    }
    p,h6 {
        font-size:xx-small;
        text-align: left;
        width: 100%;
    }
}