<div class="grid-container">
    <div class="canvas-container">
        <h3>Distribución de Alumnos por Género</h3>
        <canvas #generoCanvas width="400" height="200"></canvas>
    </div>
    <div class="canvas-container">
        <h3>Distribución de Alumnos por Institución de Pregrado</h3>
        <canvas #instiPregCanvas width="400" height="200"></canvas>
    </div>
    <div class="canvas-container">
        <h3>Distribución de Alumnos por posesión de Cotutela</h3>
        <canvas #cotutelaCanvas width="400" height="200"></canvas>
    </div>
    <div class="canvas-container">
        <h3>Distribución de Alumnos por Nacionalidad</h3>
        <canvas #nacionalidadCanvas width="400" height="200"></canvas>         
    </div>
</div>                     
